mixin Destination(name, caption, photo)
  .destination.folded
    h1= name
    hr
    p.caption= caption
    button Discover
    img(src=photo, alt=`Beautiful ${name}`)

.wrapper.loading
  +Destination("Iceland", "Fire and ice", "./src/assets/images/1-photo-1504829857797-ddff29c27927.jpg")
  +Destination("Canada", "Genuine wilderness", "./src/assets/images/2-photo-1493246507139-91e8fad9978e.jpg")
  +Destination("Norway", "Arctic gateway", "./src/assets/images/3-photo-1527004013197-933c4bb611b3.jpg")
  +Destination("Greenland", "Epic landscapes", "./src/assets/images/4-photo-1609589079985-f0926209773b.jpg")
